<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    {% load staticfiles %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LEPV - LEP Visualizer & Analyzer</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "lepv/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "lepv/whhg-font/css/whhg.css" %}" rel="stylesheet">
    <link href="{% static "lepv/css/bootstrap-language.min.css" %}" rel="stylesheet">

    <link href="{% static "lepv/css/sb-admin.css" %}" rel="stylesheet">

    <link href="{% static "lepv/css/plugins/morris.css" %}" rel="stylesheet">

    <link href="{% static "lepv/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "lepv/lib/js.cookie.js" %}"></script>
    <script src="{% static "lepv/js/jquery-ui.min.js" %}"></script>
    
    <link href="{% static "lepv/js/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "lepv/css/language/languages.min.css" %}" rel="stylesheet" type="text/css">

    <!-- DataTable -->
    <link href="{% static "bower_components/datatables/media/css/jquery.dataTables.min.css" %} " rel="stylesheet">
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>

    <!-- Load d3.js and c3.js -->
    <link href="{% static "bower_components/c3/c3.min.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "bower_components/c3/d3.min.js" %}" charset="utf-8"></script>
    <script src="{% static "bower_components/c3/c3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <script src="{% static "lepv/js/lepv.js" %}"></script>
    <script src="{% static "lepv/js/timer.jquery.min.js" %}"></script>
    
    <link href="{% static "lepv/css/lepv.css" %}" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
        function log(resultTextArea, line) {
            var objectAsString = JSON.stringify(line);
            resultTextArea.val( resultTextArea.val() + "\n" + objectAsString);
        }
    </script>

    <script>
        function testingByComponent(textElement, panelDiv, fullUrl) {

                $.get(fullUrl).success(
                        function(result) {

                            panelDiv.addClass("panel-green");

                            var jsonString = JSON.stringify(result, undefined, 2);
                            textElement.val(jsonString);
                        }
                ).error(
                        function(jqXHR, textStatus, errorThrown) {
                            panelDiv.addClass("panel-red");

                            log(textElement, fullUrl);
                            log(textElement, textStatus + "; " + jqXHR.status + " " + errorThrown);
                        }
                )
        }
    </script>

    <script>
        function loadMethodMap() {
            
        }
    </script>

    <script>
        function testing() {

            var server = $('#txtServer').val();

            $("#divResults").empty();
            
            var resultArea = $('#result'); 

            resultArea.val('');
            
            
            $.get('/methodmap').success(
                    function(methodMap) {

//                        var urls = [
//                            '/status/io',
//                            '/status/memory',
//                            '/status/cpu',
//                            '/status/iotop',
//                            '/status/avgload',
//                            '/cpustat',
//                            '/cputop',
//                            '/perfcpu',
//                            '/memstat',
//                            '/ping',
//                            '/capacity/cpu',
//                            '/capacity/memory',
//                            '/capacity/io'
//                        ];



                        $.each( methodMap, function( i, methodItem ) {
                            var rowDiv = $("<div></div>").addClass("row");
                            $("#divResults").append(rowDiv);

                            var colDiv = $("<div></div>").addClass("col-lg-12");
                            rowDiv.append(colDiv);

                            var panelDiv = $("<div></div>").addClass("panel panel-default");
                            colDiv.append(panelDiv);

                            var panelHeadingDiv = $("<div></div>").addClass("panel-heading");
                            panelDiv.append(panelHeadingDiv);

                            var iElement = $("<i></i>").addClass("icon-syncalt");
                            panelHeadingDiv.append(iElement);

                            var index = i + 1;
                            var headerString = " [" + index + "/" + methodMap.length + "] " + methodItem[['url']];
                            headerString += " => [LEPV] " + methodItem['moduleMethod'];
                            headerString += " => [LEPD] " + methodItem['lepdMethod'];
                            var spanElement = $("<span></span>").text(headerString);
                            panelHeadingDiv.append(spanElement);

                            var panelBody = $("<span></span>").addClass("panel-body");
                            panelDiv.append(panelBody);

                            var panelBodyForm = $("<form></form>");
                            panelBody.append(panelBodyForm);

                            var divFormGroup = $("<div></div>").addClass("form-group");
                            panelBodyForm.append(divFormGroup);

                            var textArea = $("<textarea></textarea>").addClass("text-area");
                            divFormGroup.append(textArea);

                            testingByComponent(textArea, panelDiv, methodItem['url'] + "/" + server);
                        });
                    }
            );
            

            
        }
    </script>

</head>

<body>

    <div class="container">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="icon-syncalt"></i> JSON Request Testing
                        </div>
                        <div class="panel-body">

                            <div class="input-group">
                                <span class="input-group-addon">Server</span>
                                <input id="txtServer" type="text" class="form-control" placeholder="{{ server|default:"www.linuxxueyuan.com" }}" value="{{ server|default:"www.linuxxueyuan.com" }}"/>
                            </div>

                            <br/>
                            <button type="button" class="btn btn-info pull-left" onclick="testing()">Start Testing</button>

                        </div>
                    </div>
                </div>
            </div>

            <div id="divResults">
            </div>

        </div>

    </div>


</body>

</html>
