<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LEP - Linux Easy Profiling</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/vendor/sb-admin/css/sb-admin.css" rel="stylesheet">
  <!--<link href="/static/vendor/sb-admin/css/sb-admin-2.css" rel="stylesheet">-->
  <link href="/static/bower_components/datatables/media/css/jquery.dataTables.min.css " rel="stylesheet">

  <link href="/static/bower_components/c3/c3.min.css" rel="stylesheet">

  <link href="/static/lepv/whhg-font/css/whhg.css" rel="stylesheet">
  <link href="/static/vendor/lepv/css/lepv.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">LEP - Linux Easy Profiling</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="sideBarAccordion">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" Summary">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSummaryMenu" data-parent="#sideBarAccordion">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Summary</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseSummaryMenu">
            <li>
              <a href="#">CPU</a>
            </li>
            <li>
              <a href="#">CPU</a>
            </li>
            <li>
              <a href="#">IO</a>
            </li>
          </ul>
        </li>



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CPU">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCpuMenu" data-parent="#sideBarAccordion">
            <i class="icon-cpu-processor"></i>
            <span class="nav-link-text">CPU</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseCpuMenu">
            <li>
              <a href="#">Stat: Overall</a>
            </li>
            <li>
              <a href="#">Stat: Idle</a>
            </li>
            <li>
              <a href="#">Stat: User+System+Nice</a>
            </li>
            <li>
              <a href="#">Stat: Irq + SoftIrq</a>
            </li>
            <li>
              <a href="#">Average Load</a>
            </li>
          </ul>
        </li>



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Memory">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#sideBarAccordion">
            <i class="icon-ram"></i>
            <span class="nav-link-text">Memory</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Stat</a>
            </li>
            <li>
              <a href="cards.html">PSS/VSS</a>
            </li>
          </ul>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Memory">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseIOMenu" data-parent="#sideBarAccordion">
            <i class="icon-syncalt"></i>
            <span class="nav-link-text">IO</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseIOMenu">
            <li>
              <a href="navbar.html">Stat</a>
            </li>
            <li>
              <a href="cards.html">Table</a>
            </li>
          </ul>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Perf">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePerfMenu" data-parent="#sideBarAccordion">
            <i class="icon-rawaccesslogs"></i>
            <span class="nav-link-text">Perf</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePerfMenu">
            <li>
              <a href="#">Perf CPU</a>
            </li>
          </ul>
        </li>


      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input id='txt_server_to_watch' class="form-control" type="text" placeholder="www.rmlink.cn" value="www.rmlink.cn">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onclick="startWatching()">
                  <i class="fa fa-play"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <div id='Summary' class="card mb-3">
          <div class="card-header">
              <i class="fa fa-fw fa-dashboard"></i> {{ languages.SystemSummary }}
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-3">
                      <div class="card-body">
                          <div id="div-cpu-gauge"></div>

                          <div class="panel-footer text-center">
                              {% if config == 'debug' %}
                              处理器 - [GetCmdMpstat]
                              {% else %}
                              处理器
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card-body">
                          <div id="div-memory-gauge"></div>
                          <div class="panel-footer text-center">
                              {% if config == 'debug' %}
                              内存 - [GetProcMeminfo]
                              {% else %}
                              内存
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card-body">
                          <div id="div-io-gauge"></div>
                          <div class="panel-footer text-center">
                              {% if config == 'debug' %}
                              磁盘 - [GetCmdIostat]
                              {% else %}
                              磁盘
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                      {% if config == 'debug' %}
                      <div>[GetProcCpuinfo]</div>
                      {% endif %}
                      <div id="div-cpu-summary" class="panel panel-green">
                      </div>
                  </div>

                  <div class="col-md-3">
                      {% if config == 'debug' %}
                      <div>[GetProcMeminfo]</div>
                      {% endif %}
                      <div id="div-memory-summary" class="panel panel-green">
                      </div>
                  </div>

                  <div class="col-md-3">
                      {% if config == 'debug' %}
                      <div>[GetCmdDf]</div>
                      {% endif %}
                      <div id="div-io-summary" class="panel panel-green">
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>




      <div class="col-md-6">
        <div id="container-div-cpu-stat-donut" class="card mb-3">
          <div class="card-header">
            <i class="icon-cpu-processor"></i> CPU Stat: Overall</div>
          <div class="card-body">
            <div id="div-cpu-stat-donut"></div>
          </div>
          <div class="card-footer small text-muted" hidden>
            <i class="fa fa-bell" aria-hidden="true"> </i>
          </div>
        </div>
      </div>





      <div class="col-md-12">

        <div id="container-div-cpu-stat-idle" class="card mb-3">
          <div class="card-header">
            <i class="icon-cpu-processor"></i> CPU Stat: Idle</div>
          <div class="card-body">
            <div id="div-cpu-stat-idle" class="chart-panel"></div>
          </div>
          <div class="card-footer small text-muted">
            <i class="fa fa-bell" aria-hidden="true" font-style="arial"> </i>
          </div>
        </div>
      </div>




      <div class="col-md-12">
        <div id="container-div-cpu-stat-user-group" class="card mb-3">
          <div class="card-header">
            <i class="icon-cpu-processor"></i> CPU Stat: User + System + Nice</div>
          <div class="card-body">
            <div id="div-cpu-stat-user-group">
              </div>
          </div>
          <div class="card-footer small text-muted" hidden>
            <i class="fa fa-bell" aria-hidden="true"> </i>
          </div>
        </div>
      </div>




      <div class="col-md-12">
        <div id="container-div-cpu-stat-irqGroup" class="card mb-3">
            <div class="card-header">
                <i class="icon-cpu-processor"></i>
                <span class="spanTitle">{{ languages.cpuIrqGroupChartTitle }}</span>
            </div>
            <div class="card-body">
                <div id="div-cpu-stat-irqGroup" class="flot-chart-content"></div>
            </div>
            <div class="card-footer small text-muted" hidden>
              <i class="fa fa-bell" aria-hidden="true"> </i>
            </div>
        </div>
      </div>




      <div class="col-md-12">
          <div id="container-div-cpu-stat-irq" class="card mb-3">
              <div class="card-header">
                  <i class="icon-cpu-processor"></i>
                  <span class="spanTitle">{{ languages.cpuIrqChartTitle }}</span>
              </div>
              <div class="panel-body">
                  <div class="flot-chart">
                      <div id="div-cpu-stat-irq" class="flot-chart-content"></div>
                  </div>
              </div>
              <div class="card-footer small text-muted" hidden>
                <i class="fa fa-bell" aria-hidden="true"> </i>
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-div-cpu-stat-nettxIrq" class="card mb-3">
            <div class="card-header">
                <i class="icon-cpu-processor"></i>
                <span class="spanTitle">{{ languages.cpuNettxIrqChartTitle }}</span>
            </div>
            <div class="card-body">
                <div id="div-cpu-stat-nettxIrq" class="flot-chart-content"></div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-div-cpu-stat-netrxIrq" class="card mb-3">
            <div class="card-header">
                <i class="icon-cpu-processor"></i>
                <span class="spanTitle">{{ languages.cpuNettxIrqChartTitle }}</span>
            </div>
            <div class="card-body">
                <div id="div-cpu-stat-netrxIrq" class="flot-chart-content"></div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-div-cpu-stat-taskletIrq" class="card mb-3">
            <div class="card-header">
                <i class="icon-cpu-processor"></i>
                <span class="spanTitle">{{ languages.cpuNettxIrqChartTitle }}</span>
            </div>
            <div class="card-body">
                <div id="div-cpu-stat-taskletIrq" class="flot-chart-content"></div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-div-cpu-stat-hrtimerIrq" class="card mb-3">
            <div class="card-header">
                <i class="icon-cpu-processor"></i>
                <span class="spanTitle">{{ languages.cpuNettxIrqChartTitle }}</span>
            </div>
            <div class="card-body">
                <div id="div-cpu-stat-hrtimerIrq" class="flot-chart-content"></div>
            </div>
          </div>
      </div>



      <div class="col-md-12">
        <div id="container-div-cpu-avgload" class="card mb-3">
          <div class="card-header">
              <i class="icon-cpu-processor"></i>
              {% if config == 'debug' %}
              <span class="spanTitle">{{ languages.averageLoadChartTitle }} - [GetProcLoadavg]</span>
              {% else %}
              <span class="spanTitle" fullTitle="{{ languages.averageLoadChartTitleFull }}" shortTitle="{{ languages.averageLoadChartTitle }}">{{ languages.averageLoadChartTitle }}</span>
              {% endif %}
          </div>
          <div class="card-body">
              <div id="div-cpu-avgload" class="chart-panel"></div>
          </div>
          <div class="card-footer small text-muted">
            <i class="fa fa-bell" aria-hidden="true" font-style="arial"> </i>
          </div>
        </div>
      </div>

      <div class="col-md-12">
          <div id="container-cpu-top-table" class="card mb-3">
            <div class="card-header">
                {% if config == 'debug' %}
                <i class="icon-cpu-processor"></i> CPU TOP -[GetCmdTop]
                {% else %}
                <i class="icon-cpu-processor"></i> CPU TOP
                {% endif %}
            </div>
            <div class="card-body">
               <table id="cpu-top-table" class="display compact" cellspacing="0"></table>
            </div>
          </div>
      </div>




      <div class="col-md-12">
          <div id="container-div-memory-chart" class="card mb-3">
            <div class="card-header">
                {% if config == 'debug' %}
                <i class="icon-ram"></i> {{ languages.ramChartTitle }} -[GetProcMeminfo]
                {% else %}
                <i class="icon-ram"></i> {{ languages.ramChartTitle }}
                {% endif %}
            </div>
            <div class="card-body">
               <table id="div-memory-chart" class="display compact" cellspacing="0"></table>
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-memory-stat-table" class="card mb-3">
            <div class="card-header">
                {% if config == 'debug' %}
                <i class="icon-ram"></i> {{ languages.memoryConsumptionChartTitle }} -[GetCmdProcrank]
                {% else %}
                <i class="icon-ram"></i> {{ languages.memoryConsumptionChartTitle }}
                {% endif %}
            </div>
            <div class="card-body">
               <table id="memory-stat-table" class="display compact" cellspacing="0"></table>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <div id="container-div-memory-free-pss-stat" class="card mb-3">
              <div class="card-header">
                  {% if config == 'debug' %}
                  <i class="icon-ram"></i> {{ languages.memoryPssAgainstTotalChartTitle }} -[GetCmdProcrank]
                  {% else %}
                  <i class="icon-ram"></i> {{ languages.memoryPssAgainstTotalChartTitle }}
                  {% endif %}
              </div>
              <div class="card-body">
                 <div id="div-memory-free-pss-stat"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div id="container-div-memory-pss-stat" class="card mb-3">
              <div class="card-header">
                  {% if config == 'debug' %}
                  <i class="icon-ram"></i> {{ languages.memoryPssDonutChartTitle }} -[GetCmdProcrank]
                  {% else %}
                  <i class="icon-ram"></i> {{ languages.memoryPssDonutChartTitle }}
                  {% endif %}
              </div>
              <div class="card-body">
                 <div id="div-memory-pss-stat"></div>
              </div>
            </div>
          </div>
      </div>
      

      <div class="col-md-12">
          <div id='container-div-IOCharts' class="card mb-3">
              <div class="card-header">
                  {% if config == 'debug' %}
                  <i class="icon-syncalt"></i> {{ languages.ioChartTitle }} -[GetCmdIostat]
                  {% else %}
                  <i class="icon-syncalt"></i> {{ languages.ioChartTitle }}
                  {% endif %}
              </div>
              <div class="card-body">
                  <div class="flot-chart">
                      <div id="div-IOCharts" class="flot-chart-content"></div>
                  </div>
              </div>
              <div class="card-footer small text-muted" hidden>
                <i class="fa fa-bell" aria-hidden="true"> </i>
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div id="container-div-io-top-table" class="card mb-3">
            <div class="card-header">
                {% if config == 'debug' %}
                <i class="icon-syncalt"></i> I/O Top Table -[GetCmdIotop]
                {% else %}
                <i class="icon-syncalt"></i> I/O Top Table
                {% endif %}
            </div>
            <div class="card-body">
               <table id="div-io-top-table" class="display compact" cellspacing="0"></table>
            </div>
          </div>
      </div>


    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © LEP Team 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/vendor/sb-admin/js/sb-admin.min.js"></script>
    <!--<script src="/static/vendor/sb-admin/js/sb-admin-2.js"></script>-->

    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    <script src="/static/bower_components/c3/d3.min.js" charset="utf-8"></script>
    <script src="/static/bower_components/c3/c3.min.js"></script>

    <script src="/static/vendor/socket-io/socket-io-slim.js"></script>


    <script src="/static/lepv/charts/lepvChart.js"></script>
    <script src="/static/lepv/charts/lepvGaugeChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuStatDonutChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuStatIdleChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuStatUserGroupChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuGauguChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuAvgloadChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuIrqGroupChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuIrqChart.js"></script>
    <script src="/static/lepv/charts/cpu/cpuTopTable.js"></script>

    <script src="/static/lepv/charts/memory/memoryGauguChart.js"></script>
    <script src="/static/lepv/charts/memory/memoryChart.js"></script>
    <script src="/static/lepv/charts/memory/memoryStatTable.js"></script>
    <script src="/static/lepv/charts/memory/procrankFreeVsPieChart.js"></script>
    <script src="/static/lepv/charts/memory/procrankPssPieChart.js"></script>

    <script src="/static/lepv/charts/io/ioStatChart.js"></script>
    <script src="/static/lepv/charts/io/ioGauguChart.js"></script>
    <script src="/static/lepv/charts/io/ioTopTable.js"></script>

    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });

    </script>

     <script>

         var socket = null;
         var serverToWatch = null;

         $( document ).ready(function() {

            $('[data-toggle="popover"]').popover();

            $('.popover-dismiss').popover({
              trigger: 'focus'
            })

        });
    </script>

    <script>
      function startWatching() {

        console.log("Connecting Socket IO by: " + 'http://' + document.domain + ':' + location.port);

        socket = io.connect('http://' + document.domain + ':' + location.port);

        if (socket != null ) {
            console.log("socket connected");
        } else {
            alert("Socket not connected");
            return;
        }

        serverToWatch = $("#txt_server_to_watch").val();
        if (serverToWatch == null) {
          return;
        }

        <!--var cpuGauguChart = new CpuGauguChart('div-cpu-gauge', socket, serverToWatch);-->

        <!--var memoryGauguChart = new MemoryGauguChart('div-memory-gauge', socket, serverToWatch);-->

        <!--var ioGauguChart = new IOGauguChart('div-io-gauge', socket, serverToWatch);-->



        <!--var ioStatChart = new IOStatChart('div-io-stat', socket, serverToWatch);-->
        <!--var cpuStatDonutChart = new CpuStatDonutChart("div-cpu-stat", socket, serverToWatch);-->
        <!--var cpuStatIdleChart = new CpuStatIdleChart("div-cpu-stat-idle", socket, serverToWatch);-->

        <!--var cpuStatUserGroupChart = new CpuStatUserGroupChart("div-cpu-stat-user-group", socket, serverToWatch);-->

        <!--var cpuIrqGroupChart = new CpuIrqGroupChart("div-cpu-stat-irqGroup-panel", socket, serverToWatch);-->

        <!--var cpuIrqChart = new CpuIrqChart("div-cpu-stat-irq-panel", socket, serverToWatch, 'irq');-->

        <!--var cpuNettxIrqChart = new CpuIrqChart("div-cpu-stat-nettxIrq-panel", socket, serverToWatch, 'NET_TX');-->

        <!--var cpuNetrxIrqChart = new CpuIrqChart("div-cpu-stat-netrxIrq-panel", socket, serverToWatch, 'NET_RX');-->

        <!--var cputaskletIrqChart = new CpuIrqChart("div-cpu-stat-taskletIrq-panel", socket, serverToWatch, 'TASKLET');-->

        <!--var cpuhrtimerIrqChart = new CpuIrqChart("div-cpu-stat-hrtimerIrq-panel", socket, serverToWatch, 'HRTIMER');-->


        var cpuAvgloadChart = new CpuAvgLoadChart("container-div-cpu-avgload", socket, serverToWatch);



        <!--var cpuTopTable = new CpuTopTable("cpu-top-table-panel", socket, serverToWatch);-->

        <!--var memoryChart = new MemoryChart('div-memory-chart-panel', socket, serverToWatch);-->

        <!--var memoryStatTable = new MemoryStatTable('memory-stat-table-panel', socket, serverToWatch);-->

        <!--var memoryFreePssStatChart = new ProcrankFreeVsPieChart('div-memory-free-pss-stat-panel', socket, serverToWatch);-->

        <!--var memoryPssStatChart = new ProcrankPssPieChart('div-memory-pss-stat-panel', socket, serverToWatch);-->

        // var ioTopTable = new IoTopTable('io-top-table-panel', socket, serverToWatch);
      }
    </script>

  </div>
</body>

</html>
